@import "font.css";

.bg{
    background-color: #358ED7
}

.bg-foto{
    background-color: aquamarine;
}

.overme {
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    white-space: normal;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.btn-new {
    font-family: 'Arial';
    font-size: 0.9rem;
    color: #F7F7F7;
    background-color: #259EE8;
    border-radius: 0.25em !important;
    /*width: 60%;*/
    table-layout: fixed;
    border-collapse: collapse;
    object-position: center;
}

.btn-new-remove {
    font-family: 'BentonSans Medium';
    font-size: 16pt;
    color: #F7F7F7;
    background-color: #dc3545;
    border-radius: 0em !important;
    /*width: 60%;*/
    table-layout: fixed;
    border-collapse: collapse;
    object-position: center;
}

.btn-new-secondary {
    font-family: 'BentonSans Medium';
    font-size: 10pt;
    background-color: #6c757d;
    border-color: #6c757d;
    color: #F7F7F7;
    /*text-transform: uppercase;*/
    border-radius: 0em !important;
    /*width: 60%;*/
    table-layout: fixed;
    border-collapse: collapse;
    object-position: center;
}

.btn-new:hover {
    background-color: #61ABF3;
    color: #F7F7F7 !important;
}

.btn-new:focus {
    background-color: #0757A6;
}

.foto {
    height: 300px;
    width: auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}

.template{
    object-fit: contain;
    border-radius: 10px;
}

.foto-in {
    position: absolute;
    padding-bottom: 20px;
    margin-bottom: 80px !important;
    display: block;
    height: 100px;
}


/* .foto-caption {
    color: #F7F7F7;
    font-family: "BentonSans Medium";
    font-size: 16pt;
    height: 70px;
    overflow: hidden;
    /*text-transform: uppercase;*/

.rounded-list {
    display:inline-block;
    content: counter(li);
    counter-increment: li;
    position: relative;
    /* left: -1em; */
    top: 64%;
    margin-top: 0.3em;
    background: #259EE8;
    height: 2em;
    width: 2em;
    /* line-height: 2em; */
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
    color: #fff;
} 

.margin-form {
    margin-top: 1.5em !important;
}

.content-hasil {
    margin-top:1.5rem;
    padding-left: 50px;
    padding-right: 50px;
}

table tr{    
    border-bottom: #358ED7 solid 2px;
}

.o {
    /* border: 1px solid black; */
    width: max-content;
    overflow: hidden;
    /* display: inline-block; */
    /* white-space: nowrap; */
    margin-top: 10px;
    /* word-break: break-all */
    word-wrap:break-word
}

.td-small{
    width: 20px;
}

.header-style {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

h1{
    font-family: 'Source Sans Pro',sans-serif;
}

.custom-row{
    flex-wrap: nowrap !important;
    margin-left: 10px;
    margin-right: 10px;
}